<h1>Hello, Teams</h1>

<%= link_to "Add a Team", new_team_path %>

<div>
  <% Year.all.each do |year| %>
    <h2><%= year.year %></h2>
    <% Team.where(year_id: year.id).each do |team| %>
      <%= link_to team.name, team_path(team.id) %>
    <% end %>
  <% end %>
</div>
