<div id="event-page">
  <p></p>

  <div>
    <% Year.all.sort_by(&:year).each do |year| %>
      <h2><%= year.year %></h2>
      <% Event.where(year_id: year.id).each do |event| %>
        <%= link_to event.name, event_path(event.id), class: "event-name-div" %>
      <% end %>
    <% end %>
  </div>
  <br />
  <%= link_to "Add an Event", new_event_path %>
</div>
