<div class="home-container">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>
    <div id="mapid"></div>
    <div id="teams">
        <h1 class="p-4">Starring...</h1>
        <h2 class="p-4 team-name rainbow-text"></h2>
    </div>

    <div id="plympics" class="loader">
    <div class="loading-logo mt-5">
        <span>
        </span>
    </div>
    <div class="loading-text"></div>
    <div class="plympics-banner">PLYMPICS</div>
    </div>
    <iframe width="0" height="0" src="https://www.youtube.com/embed/s7L2PVdrb_8?autoplay=1" frameborder="0" allow="autoplay"></iframe>
</div>

<script>
var maps = <%= raw @maps.to_json%>;
var teams = <%= raw @teams.to_json%>;
var current_year = <%= @current_year %>;

var TIMEOUT_INTERVAL = 5000;

var MAP_COORDINATES = [];
var POP_UP_TEXT = [];

for(i=0; i<maps.length; i++){
    let map = maps[i];
    let co_ord = [];
    co_ord.push(map.latitude);
    co_ord.push(map.longitude);
    MAP_COORDINATES.push(co_ord);
    POP_UP_TEXT.push(map.pop_up_text);
}

var LeafIcon = L.Icon.extend({
    options: {
        iconSize: [55, 55],
        iconAnchor: [25, 30],
        shadowAnchor: [4, 62],
        popupAnchor: [0, -30]
    }
});

var markerIcon = new LeafIcon({
    iconUrl: '<%= asset_path("3playlogo.png") %>'
})

// Initialize Map
var mymap = L.map('mapid', {zoomControl: false,fadeAnimation: true} ).setView(MAP_COORDINATES[0], 15);
 L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        id: 'mapbox.streets',
        maxZoom: 18,
        accessToken: 'pk.eyJ1Ijoid29va2llLTNwIiwiYSI6ImNqdDA4emJvejA2NGg0M283MzNkZmU2Nm4ifQ.PSTuPN0jOLCSx7GsxG4Ujg'
    }).addTo(mymap);

function initialize() {
    // Map
    showMap();

    // Teams
    var intervalTime = (maps.length * TIMEOUT_INTERVAL);
    setTimeout(teamNames, intervalTime);

    // 3plympics
    intervalTime_banner = ((teams.length + 1) * TIMEOUT_INTERVAL) + intervalTime;
    setTimeout(plympics, intervalTime_banner)
}

function showMap(){
    var i = 0;

    moveMarker(MAP_COORDINATES[i], i++);
    
    var maps_interval;

    //delayed so you can see it move
    maps_interval = setInterval(() => {
        var co_ord = MAP_COORDINATES[i];
        moveMarker(co_ord, i);
        if (++i == MAP_COORDINATES.length) {
            clearInterval(maps_interval);
        }
    }, TIMEOUT_INTERVAL);
}

function teamNames(){
    $("#teams").fadeIn(1000);
    $("#plympics").css("z-index", 0);

    var i = 0;
    var teams_interval;

    //delayed so you can see it move
    teams_interval = setInterval(() => {
        var team_name = teams[i].name;
        $(".team-name").text(team_name);
        if (++i == teams.length) {
            clearInterval(teams_interval);
        }
    }, TIMEOUT_INTERVAL);

}

function plympics(){
    $("#teams").fadeOut();
    $("#plympics").fadeIn(1000);
    $("#plympics").css("z-index", 1001);

    setTimeout(showPlympicsbanner, TIMEOUT_INTERVAL);
}

function showPlympicsbanner(){
   $(".loading-logo").hide();
   $(".loading-text").hide();
   $(".plympics-banner").fadeIn();

   setTimeout(() => {
       $(".plympics-banner").html($(".plympics-banner").text()+"<br/>"+current_year)
   }, 2000);

   setTimeout(redirectToAwesomeStuff, TIMEOUT_INTERVAL);
   
}

function redirectToAwesomeStuff(){
    $(".home-container").height("100%");
    $(".home-container").html(
        '<iframe width="100%" height="100%" src="https://www.youtube.com/embed/kfVsfOSbJY0?start=16&autoplay=1&modestbranding=1&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
    )
}

function moveMarker(co_ord, index) {
    var marker = L.marker(co_ord, { icon: markerIcon }).addTo(mymap);
    centerLeafletMapOnMarker(mymap, marker);
    marker.bindPopup(POP_UP_TEXT[index]).openPopup();
};

function centerLeafletMapOnMarker(map, marker) {
    var latLngs = [marker.getLatLng()];
    var markerBounds = L.latLngBounds(latLngs);
    map.fitBounds(markerBounds);
}

setTimeout(() => {
    initialize();
}, 3000);

</script>