.parent-div {
  justify-content: center;
}

.clue-block {
  align-self: center;
  background-color: black;
  margin: .5em 0em .5em 0em;
  color: blue;
  text-align: center;
  height: 3em;
  line-height: 3em;
  font-size: 1.5em;
}

.blank-clue-block {
  align-self: center;
  background-color: black;
  margin: .5em 0em .5em 0em;
  color: white;
  text-align: center;
  height: 3em;
  line-height: 3em;
  font-size: 1.5em;
}

.winButtonDiv {
  height: 100px;
  width: 10em;
  grid-column-start: 3;
  grid-column-end: 4;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.cancelButtonDiv {
  height: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.grid-container {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  display: inline-grid;
  grid-template-columns: 14em 14em 14em 14em;
  grid-column-gap: 2em;
  grid-row-gap: 1em;
  justify-content: center;
  width: 100%
}

.row-header {
  text-align: center;
}

.easy-column {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 2;
}

.medium-column {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: 3;
}

.hard-column {
  background-color: red;
  grid-column-start: 3;
  grid-column-end: 4;
}

.nb-column {
  background-color: black;
  color: white;
  grid-column-start: 4;
  grid-column-end: 5;
}

.row-header {
  font-weight: 900;
  font-size: 2em;
}

#cancelButton {
  background-color: red;
  margin-top: auto;
  margin-bottom: auto;
}

#winButton {
  margin-top: auto;
  margin-bottom: auto;
}

.confetti {
  background-image: url('/confetti.gif');
  background-repeat: repeat;
}

#word-field {
  width: 200px;
}

#difficulty-field {
  width: 200px;
}

#year-field {
  width: 200px;
}
